$hero-cta-stack-breakpoint: 600px;  
$hero-cta-condense-breakpoint: 400px;
$header-nav-hamburger-breakpoint: 1100px;
$mobile-breakpoint: 775px;
$header-img-swap-breakpoint: 580px;
$footer-img-swap-breakpoint: 360px;