@use 'variables' as *;

:root
{
    --news-card-bg: rgb(78, 60, 60);
}

// WebKit / Chromium / Safari
::-webkit-scrollbar
{
    display: none;
}

// Firefox + standards-track fallback
html
{
    scrollbar-width: none;
}

:root
{
    --hero-bg-circle-middle: #462130;
    --hero-bg-circle-outer: #7f6052;
    --font-color: #000;
}

@mixin button-style()
{
    & > a
    {
        color: inherit;    
        text-decoration: underline;
        text-decoration-color: transparent;
        font-size: 2rem;
        transition: 0.1s ease-in;
    
        &:hover
        {
            text-decoration-color: currentColor;
            font-family: inherit;
        }
    }
}

main
{
    flex: 1;
    font-family: sans-serif;
    color: var(--font-color);
}

.hero
{
    background: radial-gradient(circle at 50% 40%, var(--hero-bg-circle-middle) 0%, var(--hero-bg-circle-outer) 70%);
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    container-type: inline-size;
    
    & > h1
    {
        padding: 2rem;
    }
}

.cta
{
    display: flex;
    justify-content: space-between;
    margin: calc(17.5vh) 5rem 0 5rem;
    gap: 20rem;
    
    @include button-style();

    @container (width <= #{$hero-cta-stack-breakpoint})
    {
        flex-direction: column;
        gap: 5rem;
    }

    @container (width <= #{$hero-cta-condense-breakpoint})
    {
        margin-top: 2rem;
    }
}

.right-side
{
    display: inherit;
    gap: 50px;
    justify-content: center;
    

    @include button-style()
}

.news
{
    height: 40vh;
    color: var(--font-color);

    & > h2
    {
        margin-left: 1rem;
    }
}

.cards
{
    align-items: center;
    overflow: visible;
    display: flex;
    gap: 50px;
}

.news-card
{
    display: flex;
    flex-direction: column;
    border-radius: 3vh;
    margin-left: 1rem;
    height: 30vh;
    width: 30vh;
    background-color: var(--news-card-bg);

    & > figure {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 1rem 1.25rem;
        overflow: hidden;

        & > img {
            width: 100%;
            height: 80%;
            object-fit: cover; 
        }

        & > figcaption
        {
            word-wrap: break-word;
        }
    }
}