:root
{
    --hero-bg-circle-middle: #462130;
    --hero-bg-circle-outer: #7f6052;
    --font-color: #000;
}

@mixin button-style()
{
    & > a
    {
        color: inherit;    
        text-decoration: underline;
        text-decoration-color: transparent;
        font-size: 2rem;
        transition: 0.1s ease-in;
    
        &:hover
        {
            text-decoration-color: currentColor;
            font-family: inherit;
        }
    }
}

main
{
    flex: 1;
    font-family: sans-serif;
    color: var(--font-color);
}

.hero
{
    background: radial-gradient(circle at 50% 40%, var(--hero-bg-circle-middle) 0%, var(--hero-bg-circle-outer) 70%);
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    container-type: inline-size;
    
    & > h1
    {
        padding: 2rem;
    }
}

.cta
{
    display: flex;
    justify-content: space-between;
    margin: calc(17.5vh) 5rem 0 5rem;
    gap: 20rem;
    
    @include button-style();

    @container (width <= 600px)
    {
        flex-direction: column;
        gap: 5rem;
    }

    @container (width <= 400px)
    {
        margin-top: 2rem;
    }
}

.right-side
{
    display: inherit;
    gap: 50px;
    justify-content: center;
    

    @include button-style()
}