::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

:root {
  --hero-bg-circle-middle: #462130;
  --hero-bg-circle-outer: #7f6052;
  --font-color: #000;
  --news-font-color: #FFF;
  --career-button-font-color: #FFF;
  --news-card-bg: rgb(78, 60, 60);
  --career-heading-span: #b86686;
  --career-border-top: black;
  --career-cta-bg: rgb(107, 90, 90);
  --career-cta-gradient-end: rgb(77, 62, 62);
}

main {
  flex: 1;
  font-family: sans-serif;
  color: var(--font-color);
}

.hero {
  background: radial-gradient(circle at 50% 40%, var(--hero-bg-circle-middle) 0%, var(--hero-bg-circle-outer) 70%);
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  container-type: inline-size;
}
.hero > h1 {
  padding: 2rem;
}

.cta {
  display: flex;
  justify-content: space-between;
  margin: 17.5vh 5rem 0 5rem;
  gap: 20rem;
}
.cta > a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: transparent;
  font-size: 2rem;
  transition: 0.1s ease-in;
}
.cta > a:hover {
  text-decoration-color: currentColor;
  font-family: inherit;
}
@container (width <= 600px) {
  .cta {
    flex-direction: column;
    gap: 5rem;
  }
}
@container (width <= 400px) {
  .cta {
    margin-top: 2rem;
  }
}

.right-side {
  display: inherit;
  gap: 50px;
  justify-content: center;
}
.right-side > a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: transparent;
  font-size: 2rem;
  transition: 0.1s ease-in;
}
.right-side > a:hover {
  text-decoration-color: currentColor;
  font-family: inherit;
}

.news {
  height: 40vh;
  color: var(--font-color);
}
.news > h2 {
  margin-left: 1rem;
}

.cards {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  color: var(--news-font-color);
  padding-left: calc(50% - 15vh);
  padding-right: calc(50% - 15vh);
  box-sizing: border-box;
}

.news-card {
  display: flex;
  flex-direction: column;
  border-radius: 3vh;
  margin-left: 1rem;
  height: 30vh;
  width: 20vw;
  flex-shrink: 0;
  scroll-snap-align: center;
  background-color: var(--news-card-bg);
}
.news-card > figure {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 1rem 1.25rem;
  overflow: hidden;
}
.news-card > figure > img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-card > figure > figcaption {
  word-wrap: break-word;
}

.career {
  height: 50vh;
  border-top: solid 2px var(--career-border-top);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.career > p, .career > h2 {
  text-align: center;
  text-wrap: balance;
}
.career > p {
  font-size: 20px;
}
.career > h2 {
  font-size: 40px;
}
.career > h2 > span {
  color: var(--career-heading-span);
}

.career-button-wrapper {
  display: flex;
  gap: 50px;
}
.career-button-wrapper > a {
  text-decoration: none;
  padding: 1rem 2rem;
  color: var(--career-button-font-color);
  background: linear-gradient(to right, var(--career-cta-bg) 60%, var(--career-cta-gradient-end));
  border-radius: 0.75rem;
  transition: all 0.1s ease-in;
}
.career-button-wrapper > a:hover {
  transform: scale(1.1);
}

@media (width <= 1100px) {
  .news-card {
    width: 220px;
  }
}/*# sourceMappingURL=index.css.map */